<%- include('partials/header') %>

<div class="main">
  <h2>The Blog API Exam Project</h2>

  <ul>
    <li><a href="/api/auth/login">Login or signup to make a blog post</a></li>
    <li><a href="/api/blogs">View all published blogs</a></li>
  </ul>
</div>

<%- include('partials/footer') %>
