<%- include('partials/header') %>
<div class="main">
  <h3>Post A New Blog</h3>
  <form action="/api/blogs/?blog_token=<%= token %>" method="post">
    <div>
      <label for="title">Title: </label>
      <input id="title" placeholder="Enter Blog Title" name="title" />
    </div>
    <div>
      <label for="description">Description</label>
      <input
        id="description"
        placeholder="Enter Blog Description"
        name="description"
      />
    </div>
    <div>
      <label for="tags">Tags</label>
      <input id="tags" placeholder="Enter Blog Tags" name="tags" />
    </div>
    <div class="textarea">
      <label for="body">Blogs</label>
      <textarea
        id="body"
        placeholder="Blog Entries here"
        name="body"
      ></textarea>
    </div>

    <button type="submit">Add a blog</button>
  </form>
</div>

<%- include('partials/footer') %>
